<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116511128038-ok65hmd6hmfb3ipg6f9kb93bf5kg4esr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116511128038-ok65hmd6hmfb3ipg6f9kb93bf5kg4esr</string>
	<key>API_KEY</key>
	<string>AIzaSyANPZeBZZ8ubkjDlYG-LNzHpZBiZ1uxTgc</string>
	<key>GCM_SENDER_ID</key>
	<string>116511128038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-21028</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-21028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116511128038:ios:81c67df4b25fdb2061fe27</string>
</dict>
</plist>